@font-face {
    font-family: 'Nobel-Book', sans-serif;
	src:url('../fonts/Nobel-Book.woff2') format('woff2'); /* Super Modern Browsers */
		
}

@font-face {
    font-family: 'dameron', sans-serif;
	src:url('../fonts/dameron.woff2') format('woff2'); /* Super Modern Browsers */
		
}


@font-face {
    font-family: 'nobel', sans-serif;
	src:url('../fonts/nobel-new22.woff2') format('woff2'); /* Super Modern Browsers */
		
}
@font-face {
    font-family: 'Helvetica-Bold', sans-serif;
	src:url('../fonts/Helvetica-Bold.woff2') format('woff2'); /* Super Modern Browsers */
		
}